<!DOCTYPE html>
<html lang="en">

<body>
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="movie">Title</label>
    <input name="movie" id="movie" required>
    <label for="detail">Detail</label>
    <input name="detail" id="detail" required>
    <label for="storyline">Storyline</label>
    <input name="storyline" id="storyline" required>
    <label for="genre">Genre</label>
    <input name="genre" id="genre" required><br>
    <label for="actor1">Actor1</label>
    <input name="actor1" id="actor1" required>
    <label for="actor2">Actor2</label>
    <input name="actor2" id="actor2" required>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
